In [58]:
import pandas as pd
import datetime
import numpy as np
import datetime
from sklearn.linear_model import LogisticRegression
epoch = datetime.datetime.utcfromtimestamp(0)
from sklearn.metrics import confusion_matrix

In [27]:
df = pd.read_csv('data_train.csv', parse_dates=['time_exit', 'time_entry'])

In [19]:
def unix_time_millis(dt):
    return (dt - epoch).total_seconds() * 1000.0

In [28]:
#encoding time
df_new_entry = df['time_entry'].apply(unix_time_millis)
df_new_exit = df['time_exit'].apply(unix_time_millis)

In [29]:
df['time_entry'] = df_new_entry
df['time_exit'] = df_new_exit

In [30]:
df.head()

,Unnamed: 0,hash,trajectory_id,time_entry,time_exit,vmax,vmin,vmean,x_entry,y_entry,x_exit,y_exit
0,0,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_0,1.554534e+12,1.554535e+12,NaN,NaN,NaN,3.751014e+06,-1.909398e+07,3.750326e+06,-1.913634e+07
1,1,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_1,1.554535e+12,1.554536e+12,NaN,NaN,NaN,3.743937e+06,-1.932247e+07,3.744975e+06,-1.931966e+07
2,2,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_2,1.554537e+12,1.554538e+12,NaN,NaN,NaN,3.744868e+06,-1.929356e+07,3.744816e+06,-1.929284e+07
3,3,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_3,1.554539e+12,1.554540e+12,NaN,NaN,NaN,3.744880e+06,-1.929229e+07,3.744809e+06,-1.929049e+07
4,4,0000a8602cf2def930488dee7cdad104_1,traj_0000a8602cf2def930488dee7cdad104_1_4,1.554561e+12,1.554561e+12,NaN,NaN,NaN,3.744909e+06,-1.928558e+07,3.744909e+06,-1.928558e+07

In [46]:
def classify_city_center(row):
    if (row['x_exit'] > 3750901.5068) and  (row['x_exit'] < 3770901.5068) and (row['y_exit'] > -19268905.6133) and (row['y_exit'] < -19208905.6133):
        return 1
    else:
        return 0

In [33]:
y = np.zeros(814262)
df['y'] = y

In [50]:
df['y'] = df.apply(classify_city_center, axis=1)

In [53]:
df_clean = df.dropna(subset=['time_entry','time_exit','x_entry','y_entry'])

In [55]:
X = df_clean.iloc[:, [3,4,8,9]].values

In [56]:
y = df_clean['y'].values

In [60]:
df_clean.to_csv('data_train_processed.csv')

In [61]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)


# Fitting classifier to the Training set
# Create your classifier here
classifier = LogisticRegression()
classifier.fit(X, y)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix
cm = confusion_matrix(y_test, y_pred)

/userhome/comp3314/c3314g15/anaconda3/envs/tf36/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [63]:
classifier.score(X_test, y_test)

0.70147274102748