In [97]:
import pandas as pd
import datetime
import numpy as np
import datetime
from sklearn.linear_model import LogisticRegression
epoch = datetime.datetime.utcfromtimestamp(0)
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [65]:
df = pd.read_csv('data_train.csv', parse_dates=['time_exit', 'time_entry'])

In [66]:
def unix_time_millis(dt):
    return (dt - epoch).total_seconds() * 1000.0

In [67]:
#encoding time
df_new_entry = df['time_entry'].apply(unix_time_millis)
df_new_exit = df['time_exit'].apply(unix_time_millis)

In [68]:
def multiply(row):
    return row['x_entry']*row['y_entry']

In [ ]:
multxy = np.zeros(814262)
df['multxy'] = multxy

In [ ]:
df['multxy'] = df.apply(multiply, axis=1)

In [69]:
df['time_entry'] = df_new_entry
df['time_exit'] = df_new_exit

In [70]:
def classify_city_center(row):
    if (row['x_exit'] > 3750901.5068) and  (row['x_exit'] < 3770901.5068) and (row['y_exit'] > -19268905.6133) and (row['y_exit'] < -19208905.6133):
        return 1
    else:
        return 0

In [71]:
y = np.zeros(814262)
df['y'] = y

In [ ]:
#df.to_csv('train_data_processed.csv')

In [72]:
df['y'] = df.apply(classify_city_center, axis=1)

df_clean = df.dropna(subset=['time_entry','time_exit','x_entry','y_entry'])

In [73]:
y = np.array(df['y'])

In [74]:
np.amax(y)

1

In [75]:
X = df_clean.iloc[:, [3,4,8,9]].values

In [35]:
'''df_0 = df_clean[df_clean['y']==0]
df_1 = df_clean[df_clean['y']==1]
X_0 = df_0.iloc[:, [3,4,8,9]]
X_1 = df_1.iloc[:, [3,4,8,9]]
y_0 = df_0['y']
y_1 = df_1['y']'''

In [40]:
'''from sklearn.model_selection import train_test_split
X_0_keep, X_0_dispose, y_0_keep, y_0_dispose = train_test_split(X_0, y_0, test_size = 0.5, random_state = 0)
X = pd.concat([X_0_keep, X_1])
y = pd.concat([y_0_keep, y_1])'''

In [95]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [98]:
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

In [121]:
'''df_partial = pd.DataFrame(X)
df_partial['target'] = y
df_partial.to_csv('data_train_partial.csv', index=False)'''

In [103]:
# Fitting classifier to the Training set
# Create your classifier here
classifier = RandomForestClassifier()
classifier.fit(X_train, y_train)

/userhome/comp3314/c3314g15/anaconda3/envs/tf36/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [114]:
y_predicted= classifier.predict(X_test_std)
accuracy_score(y_test,y_predicted)

0.7006072961505161

In [46]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(X_test, y_predicted)
cm

0.0

# PreProcessing Test Data

In [82]:
df_test = pd.read_csv('data_test.csv', parse_dates=['time_exit', 'time_entry'])
df_test = df_test.drop_duplicates(subset='hash', keep='last')

In [83]:
len(df_test)

33515

In [84]:
df_test_new_entry = df_test['time_entry'].apply(unix_time_millis)
df_test_new_exit = df_test['time_exit'].apply(unix_time_millis)

In [85]:
df_test['time_entry'] = df_test_new_entry
df_test['time_exit'] = df_test_new_exit

In [55]:
#df_test_clean = df_test.dropna(subset=['time_entry','time_exit','x_entry','y_entry'])

In [104]:
X_test = df_test.iloc[:, [3,4,8,9]].values

In [105]:
y_pred = classifier.predict(X_test)

In [106]:
n = np.array(y_pred)
np.amax(y)

1

In [107]:
df_final = df_test.iloc[:, [2]]

In [108]:
df_final['target'] = y_pred

/userhome/comp3314/c3314g15/anaconda3/envs/tf36/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [109]:
df_final.columns=['id','target']

In [110]:
df_final.describe()

             target
count  33515.000000
mean       0.246218
std        0.430814
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [113]:
df_final
df_final.to_csv('result.csv', index=False)

In [112]:

df_final.head()

                                             id  target
4    traj_00032f51796fd5437b238e3a9823d13d_31_5       0
7   traj_000479418b5561ab694a2870cc04fd43_25_10       0
10   traj_000506a39775e5bca661ac80e3f466eb_29_5       1
13    traj_0005401ceddaf27a9b7f0d42ef1fbe95_1_4       0
17    traj_00063a4f6c12e1e4de7d876580620667_3_4       0